/build/
/install/
/lib/
/lib-static/
/bin/
/include/
/outputs/
/make.inc
*.o
*.mod
*.mex*
*.dylib
*.so
*.a
*.pyc
__pycache__/
.DS_Store
/matlab/+surfsmooth3d/+stepmesher/private/step_mesher_occ_info
fort.*
tmp_o*_r*.go3
tmp_newton_failure.txt
